ul {
  list-style: none;
  padding: 0 !important;
}

ul li span {
  cursor: pointer;
  position: absolute;
  right: 0px;
  margin-right: 5px;
}

ul li {
  position: relative;
  text-align: left;
}
.completetodo{
  text-decoration: line-through;
  background-color: red;
  color: yellow;
}
.tab ul{
  gap: 20px;
  list-style: none;
  display: flex;
}
.active{
  background-color: red !important;
}